.photo-grid {
 max-width: 1184px;
 display: grid;
 gap: 16px;
 justify-content: center;
 width: 100%;
 grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media screen and (max-width: 1140px) {
    .photo-grid {
      max-width: 100vw;
      gap: 14px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }  
}
  
  @media screen and (max-width: 984px) {
    .photo-grid {
     max-width: 100vw;
     gap:16px;
     grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
     padding: 0 24px;
  }  
}
  
  @media screen and (max-width: 568px) {
    .photo-grid {
      max-width: 100vw;
      padding: 0 16px;
      gap:12px;
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    }  
}