.photo-grid {
 display: grid;   
 gap: 16px; 
 max-width: 1184px;
 min-height: 671px;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(3, 1fr);
 padding: 0 0 0 48px;
 margin: 0 auto;
}