.header__lang {
  display: flex;
  align-items: end;
  padding: 18px 0 0;
  max-height: 28px;
}

@media screen and (max-width: 568px) {
  .header__lang {
   max-height: 20px;
   padding: 14px 0 0;
  }  
}