.place {
  display: grid;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-columns:minmax(min-content, 460px);
  grid-template-rows: 1fr;
  grid-template-areas: 
  "title website"
  "image paragraph";
  max-width: 100%;
  font-family: 'Inter', Arial, sans-serif; 
}

@media screen and (max-width: 1140px) {
  .place {
    grid-template-columns:minmax(min-content, 440px);
    column-gap: 32px;
  }  
}

@media screen and (max-width: 984px) {
  .place {
    grid-template-columns:minmax(min-content, 340px);
    column-gap: 28px;
  }  
}

@media screen and (max-width: 568px) {
  .place {
    grid-template-columns:minmax(320px, max-content);
    grid-template-areas:
     "title"
     "website"
     "image" 
     "paragraph";
     row-gap: 32px;
    } 
}